In [9]:
import pandas as pd
import numpy as np

In [10]:
train = pd.read_csv("AdvWorksCusts.csv")
test = pd.read_csv("AW_test.csv")
data = pd.read_csv("AW_AveMonthSpend.csv")

In [11]:
data.head()

   CustomerID  AveMonthSpend
0       11000             89
1       11001            117
2       11002            123
3       11003             50
4       11004             95

In [12]:
y = data.iloc[:, 1:2]

In [13]:
y.head()

   AveMonthSpend
0             89
1            117
2            123
3             50
4             95

In [14]:
train.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [15]:
train['Gender'].fillna("M", inplace = True)
train['MaritalStatus'].fillna("S", inplace = True)
train.fillna(np.mean(train), inplace = True)

test['Gender'].fillna("M", inplace = True)
test['MaritalStatus'].fillna("S", inplace = True)
test.fillna(np.mean(test), inplace = True)

In [16]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

train.Gender = encode.fit_transform(train.Gender)
train.MaritalStatus  = encode.fit_transform(train['MaritalStatus'])

test.Gender = encode.fit_transform(test.Gender)
test.MaritalStatus  = encode.fit_transform(test['MaritalStatus'])

In [17]:
train.drop(['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix','AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate'], axis =1, inplace = True)
test.drop(['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix','AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate'], axis =1, inplace = True)

In [18]:
train.fillna(0, inplace=True)

In [19]:
train.columns

Index(['CustomerID', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
       'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
       'TotalChildren', 'YearlyIncome'],
      dtype='object')

In [20]:
test.isnull().sum()

CustomerID              0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

In [21]:

Id = test.CustomerID

In [22]:

# test.drop('CustomerID', axis=1, inplace=True)
# train.drop('CustomerID', axis=1, inplace=True)

In [23]:
train.describe()

,CustomerID,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
count,16519.000000,16519.000000,16519.000000,16519.000000,16519.000000,16519.000000,16519.000000,16519.000000
mean,20234.225195,0.505539,0.460197,0.673891,1.500999,0.992009,2.006235,78122.511532
std,5342.515987,0.499984,0.498428,0.468802,1.138962,1.515048,1.682736,39710.985718
min,11000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9482.000000
25%,15604.500000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,47807.500000
50%,20221.000000,1.000000,0.000000,1.000000,2.000000,0.000000,2.000000,76120.000000
75%,24860.500000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,105194.500000
max,29482.000000,1.000000,1.000000,1.000000,4.000000,5.000000,5.000000,196511.000000

In [24]:
X = pd.get_dummies(train, prefix=None)
test = pd.get_dummies(train, prefix=None)

In [25]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
# train["YearlyIncome"] = scale.fit_transform(X)
# train["AveMonthSpend"] = scale.fit_transform(train['AveMonthSpend'])
X = scale.fit_transform(X)
y = scale.fit_transform(y)
test = scale.fit_transform(test)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size= 0.25, random_state = 0)

In [27]:
# from sklearn.ensemble import RandomForestRegressor
# ensem = RandomForestRegressor()
from sklearn.tree import DecisionTreeRegressor
ensem = DecisionTreeRegressor()

In [28]:
ensem.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [29]:
y_pred = ensem.predict(test)

In [30]:
y_pred

array([ 0.60818472,  1.63440673,  1.85431144, ...,  0.24167687,
       -0.27143414, -0.16148178])

In [32]:
# from sklearn.metrics import mean_squared_error
# mean_squared_error(y_test, y_pred)

In [33]:
data = pd.DataFrame({"CustomerID" : Id, "AveMonthSpend" : np.int_(y_pred)})
# data = pd.DataFrame({"BikeBuyer" : np.int_(y_pred)})

ValueError: array length 16519 does not match index length 500

In [ ]:
data.to_csv("sub.csv", index = False)

In [ ]:
sub = pd.read_csv("sub.csv")

In [ ]:
sub.head()

In [ ]:
sub["BikeBuyer"].value_counts()

In [ ]:
np.int_(y_pred)